body{
    margin: 5px;
}

h4{
    color: #293264;
}

.options{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.options > div{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #293264;
    padding: 7px 5px;
    border: 2px solid #4D5B9E;
    border-radius: 15px;
    min-width: 80px;
    text-align: center;
}

.options > div:hover{
    cursor: pointer;
}

.select{
    background-color: aquamarine;
}

