body{
    background-image: url('/intro-page.png');
    font-family: 'karla','san-serif';
    margin: 0;
}

.load{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}